.pagination {
  padding: 20px;

  .pagination-button {
    background-color: inherit;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    color: #5d5843;
    font-size: 15px;
    cursor: pointer;
    margin-left: 20px;

    &:hover,
    &.active {
      box-shadow: 0px 0px 10px 5px #efdb9d;
    }
  }
}
