@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap');

.main {
  background-color: #efdb9d;
  padding: 20px;
}

.container {
  background-color: #b6be82;
  border-radius: 10px;
  padding: 30px 20px;
  min-height: 1000px;
}
